body {
  background-image: url('../images/유니.webp');
  background-repeat : no-repeat;
  background-size: cover;
  background-position: bottom;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
