body {
  background-image: url('../images/모레노빙하.jfif');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
